name: Deploy Laravel React TS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 2121
          script: |
            cd /var/www/amici/amici
            git pull origin main

            composer install --no-dev --optimize-autoloader

            npm install
            npm run build

            php artisan migrate --force
            php artisan optimize
